<section class="{{#if (eq position 'bottom')}}modal modal-bottom{{else}}modal modal-top{{/if}}">
    {{#each items}}
    <div class="modal__item">
        <img class="modal__image" src={{this.img}}/>
        <p class="modal__text">{{this.text}}</p>
    </div>
    {{/each}}
</section>