---
array:
    - {name: 'email', label: 'Почта', type: 'email'}
    - {name: 'login', label: 'Логин', type: 'text'}
    - {name: 'first_name', label: 'Имя', type: 'text'}
    - {name: 'second_name', label: 'Фамилия', type: 'text'}
    - {name: 'phone', label: 'Телефон', type: 'tel'}
    - {name: 'password', label: 'Пароль', type: 'password'}
    - {name: 'password', label: 'Пароль (еще раз)', type: 'password', errorText: 'Пароли не совпадают'}
---
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../partials/auth-form/auth-form.scss">
    <title>Registration Page</title>
</head>
<body>
    {{> auth-form/auth-form title="Регистрация" btnText='Зарегистрироваться' linkHref="./login.hbs" linkText="Уже есть аккаунт?" inputArray=array }}
</body>
</html>
