@import '../../constants/const.scss';
@import './chats/chats.scss';
@import './messages/messages.scss';
@import '../../components/Modal/Modal.scss';
@import '../../components/Popup/Popup.scss';
.main-page {
    display: flex;
    flex-direction: row;
    height: 100%;

    &__chats-menu {
        height: 100vh;
        width: 25vw;
        background: $color-grey;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;

        &:hover {
            overflow-y: scroll;
            width: calc(25vw + 1px);
        }
    }

    &__default-text {
        font-weight: 500;
        font-size: 12px;
        color: $color-dark-grey;
    }

    &__chat-default {
        height: 100vh;
        width: 75vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__link {
        color: $color-dark-grey;
        font-weight: 500;
        font-size: 15px;
        text-decoration: none;
        margin-left: 74%;
        margin-right: 10px;
        margin-top: 21px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__image {
        margin-top: 2px;
        margin-left: 8px;
        background-image: url('./asserts/arrow.png');
        width: 10px;
        height: 10px;
        background-position: center;
        border: transparent;
    }

    &__find {
        margin: 23px 10px 14px;
        width: 94%;
        height: 32px;
        background: $color-background-input;
        border-radius: 5px;
        border-color: $color-background-input;
        background-image: url('./asserts/find.png');
        background-position: 40% center; 
        background-repeat: no-repeat;
        text-align: center;
        color: $color-black;

        &::placeholder {
            text-align: center;
        }

        &:focus {
            outline: none;
            box-shadow: none;
            background-image: none;
        }

        &:focus::placeholder {
            opacity: 0;
        }

        &:not(:empty) {
            background-image: none;
        }

    }

    &__find:not(:placeholder-shown) {
        background-image: none;
    }

    &__form {
        align-self: center;
        width: 100%;
    }
}

.chat {
    width: 75vw;

    &__header {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        margin: 0 20px;
        padding: 10px 0;
        border-bottom: 1px solid $color-card-border;
    }

    &__error {
        color: $color-red;
        font-weight: 400;
        font-size: 10px;
        position: absolute;
        top: 0;
        left: 44px;
    }

    &__icon {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: $color-background-input;
    }

    &__name {
        font-weight: 600;
        font-size: 13px;
        color: $color-black;
        flex-grow: 2;
        margin-left: 10px;
    }

    &__menu {
        margin-right: 10px;
        cursor: pointer;
        width: 25px;
        height: 25px;
        position: relative;
        background-image: url('./asserts/menu.svg');
        background-color: $color-menu-background;
        border-radius: 50%;
        background-position: center;
        border-color: transparent;
    }

    &__messenger {
        height: calc(100vh - 130px);
        overflow-y: hidden;

        &:hover {
            overflow-y: scroll;
            width: calc(75vw - 2px);
        }
    }

    &__footer {
        position: sticky;
        bottom: 0;
        display: flex;
        flex-direction: row;
        border-top: 1px solid $color-card-border;
        align-items: center;
        background: white;
        margin: 30px 20px 0; // когда добавлю js, буду по событию конца скролла навешивать margin-top: 30px, сейчас из за этого не очень выглядит:(
        padding: 15px 0 10px;
    }

    &__attach {
        width: 32px;
        height: 32px;
        cursor: pointer;
        background-image: url('./asserts/attach-file.svg');
        background-position: center;
        border-color: transparent;
        background-color: white;
    }

    &__form {
        flex-grow: 2;
        height: 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__input {
        margin-left: 10px;
        width: 93%;
        height: 32px;
        background: $color-background-input;
        border-radius: 30px;
        padding-left: 20px;
        font-weight: 500;
        font-size: 12px;
        color: $color-dark-grey;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    &__send {
        width: 28px;
        height: 28px;
        background-image: url('./asserts/send-message.svg');
        background-position: center;
        border-radius: 50%;
        border: transparent;
        cursor: pointer;
        margin-right: 0;

        &-reverse {
            width: 28px;
            height: 28px;
            background-image: url('./asserts/send-message.svg');
            background-position: center;
            border-radius: 50%;
            border: transparent;
            cursor: pointer;
            margin-right: 0;
            transform: scaleX(-1);
        }
    }

}

